# Dependencias
node_modules/

# Archivos de compilación
dist/
build/
*.tsbuildinfo

# Archivos de entorno
.env
.env.local

# Archivos del editor
.vscode/

# Archivos de registro
npm-debug.log*

# Test
/test